name: Student Management Workflow

on:  
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: setup python
        uses: action setup-python@v4
        with: 
          python-version: "3.10"

      - name: Install Dependencies
        run:
          pip install -r requirements.txt
        
